---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "About Me"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<BaseLayout pageTitle={title}>
  <p><strong>06/07/2024:</strong>Recent projects with blog posts will be posted by the end of next week.</p>
</BaseLayout>
