---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "About Me"
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["astro", "react", "github-pages"];
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<BaseLayout pageTitle={title}>
  <h2>... and my new Astro site!</h2>
  <p>This is placeholder text, I'll be updating this site throughout the semester.</p>
  <p>The site is built with (so far):</p>
  <ul>
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>
</BaseLayout>
