---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Bogdan Bošković";
---
<BaseLayout pageTitle={pageTitle}>
    <p>
        I am an experienced software engineer and recent college graduate, based in the US. I have been a full-stack developer for over 6 years now,
        and have had experience with a multitude of programming languages and tech stacks.
    </p>
</BaseLayout>
