---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Bogdan Bošković";
const someProps = {
	count: 0,
}
---
<BaseLayout pageTitle={pageTitle}>
	 <p><strong>site revamp in progress, please stand by...</strong></p>
</BaseLayout>
