---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Portfolio";
const someProps = {
	count: 0,
}
---
<BaseLayout pageTitle={pageTitle}>
	 <p><strong>06/07/2024:</strong>Recent projects with blog posts will be posted by the end of next week.</p>
</BaseLayout>
