---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Bogdan Bošković";
---
<BaseLayout pageTitle={pageTitle}>
    <p>
        I am an experienced software engineer and US-based Computer Science graduate (currently in the Tampa Bay area). I have been a full-stack developer for over 6 years now,
        and have had experience with a multitude of programming languages and tech stacks.
    </p><br>
    <p>
        My real-world experience in software development began in 2017 with PHP, first building completely custom themes for WordPress websites, and later
        developing custom web applications using Laravel. I have since worked on projects in Python (Django/Flask/FastAPI), Javascript (Node.js), and Golang (stdlib/Fiber/Echo), among others.
        On the frontend, I have worked with React, Svelte, and Astro, and have recently been exploring the hypermedia approach with HTMX.

    </p><br>
    <p>
        Two years ago, I made the decision to return to college and complete the final 3 semesters of my Computer Science degree, which I have done.
        I am a quick study and a clear and efficient communicator. I have experience with leading a team of developers and delivering projects on time.
    </p><br>
    <p class="mb-2">Programming languages that I am most comfortable working with, currently:</p>
    <ul class="inline-flex gap-3 flex-wrap font-bold">
        <li>Golang,</li>
        <li>Python,</li>
        <li>JavaScript,</li>
        <li>PHP,</li>
        <li>Java,</li>
        <li>C,</li>
        <li>Dart,</li>
        <li>SQL</li>
    </ul>
</BaseLayout>
