---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Bogdan Bošković";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="flex flex-col md:flex-row items-center">
        <div class="md:mr-10 mb-6 mt-2 md:mb-0">
            <div class="relative w-40 h-40">
                <img src="/bogdan.webp" alt="Bogdan Bošković" class="relative rounded-full object-cover w-full h-full outline outline-4 dark:outline-bunker-300 outline-amber-400 outline-offset-4">
            </div>
        </div>
        <div>
            <p>
                Software Architect & Data Scientist specializing in AI-driven biomedical discovery. I design and build the technical infrastructure that transforms complex biological data into breakthrough insights. From architecting billion-edge knowledge graphs (AWS Neptune) and domain-specific Graph-RAG systems that eliminate LLM hallucinations, to engineering distributed ETL pipelines that process petabytes of scientific data in minutes—not hours—I bridge the gap between software engineering and life sciences research.
            </p>
        </div>
    </div>
    <br>
    <p>
        My career started with web development, and I've maintained those skills both at work and through personal projects in the meantime. I am fluent in the languages of the web— (JS/TS/CSS/React/Svelte etc. on JS/PHP/Golang/Python backends) as well as in the architectural decision space.
    </p>
    <br />
    <p>
      Reach out to me, and let's talk! 
    </p>
</BaseLayout>
