---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Portfolio - Bogdan";
const someProps = {
	count: 0,
}
---
<BaseLayout pageTitle={pageTitle}>
	{/* a few paragraphs of lorem ipsum */}
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde dignissimos rem veniam doloribus dolores, quia atque facilis molestiae! Recusandae deserunt aliquam laudantium dolorum sunt illo ipsam perferendis incidunt omnis sint! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos eius fugiat laborum facere aspernatur. Doloremque excepturi voluptates repudiandae cum dolore dignissimos placeat nulla in! Cupiditate ea tempora dicta quaerat quo! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum doloribus minus laboriosam asperiores, suscipit reiciendis quasi voluptates aspernatur consequatur pariatur et ducimus molestiae nam sit repellat, enim est, beatae facere.</p>
	<h2>THIS IS A SUBTITLE</h2>
</BaseLayout>