---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Projects"
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<BaseLayout pageTitle={title}>
	<h2>A couple little ones:</h2>
	<ul>
		<li><a href="https://todo-bogz.fly.dev/">ToDo App</a></li>
		<li><a href="https://github.com/bogdano/django-todo/invitations">ToDo github repo</a></li>
		<li><a href="https://blog-bogz.fly.dev/">Blog App</a></li>
		<li><a href="https://github.com/bogdano/django-blog/invitations">Blog github repo</a></li>
	</ul>
	<p>work in progress</p>
</BaseLayout>
