---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Projects"
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<BaseLayout pageTitle={title}>
	<h2>Kanban-style app built with Django and HTMX</h2>
	<a href="https://kanban-bogz.fly.dev" target="_blank">https://kanban-bogz.fly.dev</a>
</BaseLayout>
