---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Projects"
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<BaseLayout pageTitle={title}>
	<h2>A couple little ones:</h2>
	<ul>
		<li><a href="https://todo-bogz.fly.dev/">ToDo App</a></li>
		<li><a href="https://github.com/bogdano/django-todo/invitations">ToDo github repo</a><p>Built on Django, uses AJAX and Django URL routing to add, update, and delete to-do items on a list.</p></li>
		<li><a href="https://news-bogz.fly.dev/">Newspaper App</a></li>
		<li><a href="https://github.com/bogdano/django-news/">Newspaper github repo</a><p>Also built on Django, pretty much following the chapters in a textbook.</p></li>
	</ul>
</BaseLayout>
