---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Thoughts"
---
<BaseLayout pageTitle={title}>
    <p><strong>site revamp in progress, please stand by...</strong></p>
</BaseLayout>
