.counter {
	display: grid;
	font-size: 3em;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	place-items: center;	
	margin: auto;
	margin-top: 2em;
	max-width: 350px;
}

.counter-message {
	text-align: center;
}

.counter > button {
	width: 65px;
}