---
const currentPath = new URL(Astro.request.url).pathname.slice(1);
---
<div class="nav-links">
  <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
  <a class={currentPath === "projects/" ? "active" : ""} href="/projects">Projects</a>
</div>
