---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} class="border-b border-amber-400 dark:border-amber-300 text-bunker-600 dark:text-bunker-300 text-xl hover:text-bunker-950 dark:hover:text-white hover:border-amber-500 dark:hover:border-amber-600 font-bold"> {platform}</a>
