---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions, fade } from "astro:transitions";

const pageTitle = Astro.props.pageTitle;
const subtitle = Astro.props.subtitle;
---

<html class="dark" lang="en" transition:animate="none">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:title" content="Bogdan Bošković | Software Engineer | Full-Stack Engineer">
        <meta property="og:description" content="I am a full-stack software engineer, currently looking for work.">
        <meta property="og:url" content="https://bogz.dev">
        <meta property="og:image" content="/favicon.svg">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script defer src="https://cloud.umami.is/script.js" data-website-id="d1449c89-eee1-4d8a-b879-ad11f408fb44"></script>
        <title>{pageTitle}</title>
        <ViewTransitions />
    </head>

    <body
        class="container mx-auto lg:px-28 lg:py-20 md:py-12 py-8 px-4 h-dvh relative bg-white text-bunker-900 dark:text-bunker-100 dark:bg-bunker-950 selection:bg-amber-500"
    >
        <Navigation />
        <main transition:animate="initial">
            <div class="font-limelight leading-tight mb-4">
                <h1 class="text-5xl md:text-7xl text-center md:text-left" transition:animate="none">
                    {pageTitle}
                </h1>
                {
                    subtitle && (
                        <h5 class="text-3xl md:text-4xl text-center md:text-left mt-4 ml-1 text-bunker-600 dark:text-bunker-300">
                            {subtitle}
                        </h5>
                    )
                }
            </div>
            <div class="px-1 text-2xl">
                <slot />
            </div>
        </main>
        <Footer />
    </body>
</html>
