---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p style="font-weight: bold; margin-top: 0.5rem !important;">{frontmatter.author}</p> 
  <slot />
</BaseLayout>